body {
    padding-bottom: 5rem;
    color: #5a5a5a;
}

.body-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.item-lista-livro {
    padding-top: 10px;
    padding-bottom: 10px;
}

.img-cadastro {
    max-width: 20%;
}

.img-detalhes {
    max-width: 20%;
}

.img-base {
    width: 100%;
    padding-top: 20px;
}

.text-decoration-none {
    color: inherit;
}

a:hover{
    color:black;
}

.navbar {
    background-color: #295480 !important;
}

.nav-link{
    color: #fff;
}

.nav-pills .nav-link.active{
    color:black;
    background-color:#fff;
}

.pagination .page-link{
    color:black;
}

.pagination .page-item.active .page-link {
    background-color: #343a40;
    border-color: #343a40;
}

.label-campo-obrigatorio::after {
    content: "*";
    color: #dc3545 !important;
    margin-left: 5px;
}

#span-resumo {
    text-align: justify;
    display: block;
}