@{
    ViewData["Title"] = "Home";
}

<script>
    atualizarMenu("menu-inicio");
</script>

<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Seja bem-vindo à Livraria!</h1>
            <p class="lead">Maringá - Paraná, Brasil.</p>
        </div>
    </div>
</main>
